<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exchange Rates</title>
</head>
<body>

<h1>Exchange rates PLN to <span th:text = "${currencyCode + ' (' + currencyName + ')'}"> Head </span></h1>

<table>
    <thead>
    <tr>
        <th> Date </th>
        <th> Exchange Rate </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exrate : ${data}">
        <td><span th:text="${exrate.date}"> date </span></td>
        <td><span th:text="${exrate.exchangeRate}"> exchange rate </span></td>
    </tr>
    </tbody>
</table>